.gamertag {
  padding-top: 5rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 3.5rem;
}

.gamertag > img {
  height: 60px;
  border-radius: 50%;
}

.gamertag > p {
  font-size: 1.30rem;
  padding-left: 1.2rem;
  color: darkgray;
}

.menu-items {
  width: 100%;
  font-size: 1.65rem;
  color: white;
  display: flex;
  align-items: center;
  /* padding-left: 12%; */
  margin: 0 18%;
}

.icons {
  padding-right: 20px;
  height: 32px;
  filter: invert(1);
}

.left-side {
  width: 100%;
  height: 100%;
  background-color: black;
}

.left-text {
  padding-left: 1.8rem;
}

.left-icons {
  float: left;
  padding-left: 18%;
}


.right-num {
  margin-left: auto;
  padding-right: 7.8rem;
  color: darkgray;
}

.menu-item-content {
  display: flex;
  align-items: center;
}

.left-hr {
  margin: 1.25rem 2rem;
  border: none;
  border-top: 1px solid darkgray;
}