.left-menu-items {
  padding-left: 4.5rem;
}

.gamertag {
  padding-top: 40px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 3.5rem;
}

.gamertag > img {
  height: 60px;
  border-radius: 50%;
}

.gamertag > p {
  padding-left: 0.8rem;
  font-size: 1.30rem;
  color: darkgray;
}

.menu-items {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  font-size: 1.65rem;
}

.left-bottom {
  bottom: 0;
  position: absolute;
  padding-bottom: 4rem;
}