.App {
  background-color: white;
  height: 100vh;
  display: flex;
}

.column {
  float: left;
}

/* Left Section */
.left {
  width: 22%;
  border-right: 1px solid black;
}

.left-main {
  height: 100vh;
  background-color: black;
  color: white;
}

/* Right Section */

.right {
  flex: 1;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp {
  text-align: center;
  padding: 40px;
  font-size: 40px;
  font-family: "Agbalumo";
  
}